<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Appenders>

        <RollingFile name="App-File-Appender" fileName="C:\tmp\paris-services.log" filePattern ="C:\tmp\paris-services-%i.log" >
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                   <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
        <RollingFile name="SpringBoot-File-Appender" fileName="C:\tmp\springboot.log" filePattern ="C:\tmp\springboot-%i.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
             <Policies>
                   <SizeBasedTriggeringPolicy size="1KB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework.web" level="info" additivity="false">
            <AppenderRef ref="SpringBoot-File-Appender"/>
        </Logger>
        <Logger name="com.gale.rcs" level="info" additivity="false">
            <AppenderRef ref="App-File-Appender"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="App-File-Appender"/>
        </Root>
    </Loggers>
</Configuration>